.vs/AsadSaleemGlitchGone/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/AsadSaleemGlitchGone/FileContentIndex/bef5fbce-69c9-4d38-beff-ea22f3f5af39.vsidx
.vs/AsadSaleemGlitchGone/v17/.wsuo
.vs/VSWorkspaceState.json
